/**
 * Variables
 *
 * Theme specific variables
 *
 */



/* Layout
   ================================================================================================================== */

$layout-max-width:    1000px;
$node-breakpoint:     55em; //@todo px

/* Colors
   ================================================================================================================== */
$white:            #fff;
$black:            #000;

$gray-lightest:    lighten($black, 95%);
$gray-lighter:     lighten($black, 90%);
$gray-light:       lighten($black, 70%);
$gray:             lighten($black, 60%);
$gray-dark:        lighten($black, 50%);
$gray-darker:      lighten($black, 40%);
$gray-darkest:     lighten($black, 30%);

$red:              rgb(238, 39, 106);
$turquoise:        rgb(92, 196, 183);
$blue:             rgb(29, 71, 187); // Block bg color.
$brown:            rgb(187, 150, 11);
$yellow:           rgb(253, 231, 76);
$light-blue:       lighten($blue, 20%);  // Block bg color.
$dark-blue:        #020667;

$header-color:          rgb(20,6,103);
$course-color:          $dark-blue;
$school-color:          $red;
$daycare-color:         $turquoise;
$youth-color:           $blue;
$profile-color:         $red;

$footer-color: $gray-light;
$block-color: $gray-lightest;



/* Typography
   ================================================================================================================== */

@font-face {
  font-family: 'AlrightSans';
  src: url("../font/AlrightSans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'AlrightSans';
  src: url("../font/AlrightSans-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'AlrightSans';
  src: url("../font/AlrightSans-Medium.otf") format("opentype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'AlrightSans';
  src: url("../font/AlrightSans-MediumItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'AlrightSans';
  src: url("../font/AlrightSans-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'AlrightSans';
  src: url("../font/AlrightSans-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic; }

$font:             14px/1.3 'AlrightSans', sans-serif;


/* Link colors
   ================================================================================================================== */

$link-color:       $turquoise;
$link-color-hover: darken($link-color, 10%);

$button-color: $turquoise;


/* Spacing
   ================================================================================================================== */

$spacing:          16px;


/* Border radius
   ================================================================================================================== */

$border-radius:    5px;


/* Boxlist
   ================================================================================================================== */

$boxlist-font-color:    #000;
$boxlist-border-color:  $blue;
$boxlist-padding:       1em;